@{
    ViewData["Title"] = "Aradığınız ürün burada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="site-main page-spacing">
    <!-- Page Banner -->
    <div class="page-banner shop-banner container-fluid no-padding">
        <div class="page-banner-content">
            <h3>Our Products</h3>
        </div>
    </div><!-- Page Banner /- -->
    <!-- Shop 2 -->
    <div class="latest-product shop-2 container-fluid no-padding woocommerce">
        <div class="section-padding"></div>
        <!-- Container -->
        <div class="container">
            <ul class="products">
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="new-product">New</span>
                        <span class="onsale">15%</span>
                        <span class="product-img">
                            <img src="/images/product-5.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>Stylish Office Chairs</h3>
                        <span class="price"><span class="amount">$35.00</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="new-product">New</span>
                        <span class="product-img">
                            <img src="/images/product-6.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>Luxury Chairs</h3>
                        <span class="price"><span class="amount">$20.00</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="new-product">New</span>
                        <span class="onsale">25%</span>
                        <span class="product-img">
                            <img src="/images/product-2.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>REd Office</h3>
                        <span class="price"><span class="amount">$25.00</span><del>$45.00</del></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="onsale">20%</span>
                        <span class="product-img">
                            <img src="/images/product-7.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>Modern Icez chair</h3>
                        <span class="price"><span class="amount">$18.00</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>

                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="new-product">New</span>
                        <span class="onsale">15%</span>
                        <span class="product-img">
                            <img src="/images/product-3.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>Luxury Chairs</h3>
                        <span class="price"><span class="amount">$75.00</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="new-product">New</span>
                        <span class="product-img">
                            <img src="/images/product-8.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>plastic net chairs</h3>
                        <span class="price"><span class="amount">$18.00</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="new-product">New</span>
                        <span class="onsale">25%</span>
                        <span class="product-img">
                            <img src="/images/product-9.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>wodden chairs</h3>
                        <span class="price"><span class="amount">$25.00</span><del>$45.00</del></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="onsale">20%</span>
                        <span class="product-img">
                            <img src="/images/product-10.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>office chairs</h3>
                        <span class="price"><span class="amount">$20.00</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="onsale">20%</span>
                        <span class="product-img">
                            <img src="/images/product-14.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>garden Chairs</h3>
                        <span class="price"><span class="amount">$35.00</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="onsale">20%</span>
                        <span class="product-img">
                            <img src="/images/product-13.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>office chairs</h3>
                        <span class="price"><span class="amount">$18.00</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="onsale">20%</span>
                        <span class="product-img">
                            <img src="/images/product-15.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>leather chairs</h3>
                        <span class="price"><span class="amount">$25.00</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
                <li class="product">
                    <a href="product-detail.html" title="Prouct">
                        <span class="onsale">20%</span>
                        <span class="product-img">
                            <img src="/images/product-16.jpg" width="270" height="360" alt="product" />
                        </span>
                        <h3>garden chairs</h3>
                        <span class="price"><span class="amount">$20.00</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a>
                        <span>
                            <a href="#" class="icons"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="icons"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </li>
            </ul>
            <nav class="ow-pagination">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                </ul>
            </nav>
        </div><!-- Container /- -->
        <div class="section-padding"></div>
    </div><!-- Shop 2 /- -->
</main>